body {
  background-color: #33BBEE;
  color: black;
  font-family: sans-serif;
  padding-bottom: 40px;
}

.row {
  padding: 0 40px;
}

.header {
  color: white;
  padding: 20px 0;
}

.header .row h1 {
  text-align: center;
  font-size: 30px;
}

.header .row .go-back {
  font-size: 18px;
  float: left;
  margin-top: 6px;
  background-color: #755690;
  color: white;
  border-radius: 3px;
  padding: 12px;
}

.header .row .go-back .glyphicon {
  top: 4px;
}

.header .row .logo {
  height: 60px;
  float: right;
}

.instructions {
  padding-top: 15px;
  padding-bottom: 40px;
  background-color: white;
}

.instructions .md {
  background-color: white;
  border-radius: 25px;
}

.main {
  padding: 30px 0;
  color: white;
}

.main .component {
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 250px;
  padding: 30px;
  background-color: white;
}

.footer {
  text-align: center;
}

.monospace {
  font-family: monospace;
}
